.fpContent {
  width: 300px;
  box-shadow: 0 0 10px 0 #ccc;
  display: grid;
  align-items: center;
  gap: 36px;
  margin: auto;
  padding: 40px 24px;
  background-color: white;
}

.userNameWrapper {
  display: grid;
}

.userNameWrapper input {
  height: 32px;
  margin-top: 8px;
}

.forgotPassword button {
  text-transform: capitalize;
}

.invalidErrorMessage {
  color: firebrick;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logoText {
  color: lightseagreen;
  border: 1px solid green;
  padding: 4px;
  width: fit-content;
}

.logoText span {
  background: green;
  padding: 0 4px;
  width: fit-content;
  color: #fff;
  margin-right: 8px;
}
