.resetContent {
  width: 300px;
  box-shadow: 0 0 10px 0 #ccc;
  display: grid;
  align-items: center;
  gap: 28px;
  margin: auto;
  padding: 32px 24px;
  background-color: white;
}

.passwordWrapper,
.reenteredPasswordWrapper {
  display: grid;
}

.passwordWrapper input,
.reenteredPasswordWrapper input {
  height: 32px;
  margin-top: 8px;
}

.resetPassword button {
  text-transform: capitalize;
  /* margin-top: 24px; */
}

.invalidErrorMessage {
  color: firebrick;
}

.logo {
  font-size: 20px;
  font-weight: 400;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logoText {
  color: lightseagreen;
  border: 1px solid darkviolet;
  padding: 4px;
  width: fit-content;
}

.logoText span {
  background: blueviolet;
  padding: 0 4px;
  width: fit-content;
  color: #fff;
  margin-right: 8px;
}
