.bodyContainer {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 30px;
  height: 100vh;
  overflow: hidden;
}

.appContainer {
  background: rgb(236, 234, 234);
  overflow: hidden;
  height: 100vh;
}

.disabledFinishButton {
  color: darkgray !important;
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.finishButton {
  background-color: blueviolet;
}

.courseCompletion {
  background: coral;
  padding: 12px;
  color: white;
  width: max-content;
  font-size: 18px;
  border-radius: 4px;
}
