.box p {
  margin-top: 35px;
  padding: 20px;
  color: blue;
  text-align: center;
  font-size: xx-large;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  width: 500px;
  height: 200px;
  margin-top: 100px;
  border: 1px solid black;
  background-color: lightgray;
  justify-content: center;
  display: flex;
  align-items: center;
}

.certificate-card {
  display: flex;
}

.box img {
  height: 100px;
}
