.logo {
  font-size: 20px;
  font-weight: 400;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logoText {
  color: lightseagreen;
  border: 1px solid darkviolet;
  padding: 4px;
  width: fit-content;
}

.logoText span {
  background: blueviolet;
  padding: 0 4px;
  width: fit-content;
  color: #fff;
  margin-right: 8px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6b35e9;
  font-size: 28px;
  color: black;
  text-align: center;
  line-height: 40px;
  text-transform: capitalize;
  background-color: rgb(171, 171, 252);
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  justify-items: center;
}

.userWrapper .name {
  font-size: 26px;
}

.userProfile {
  display: flex;
  align-items: CENTER;
}

.signOut img {
  width: 40px;
  height: 40px;
}

.topNavContainer {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 20px 36px;
  color: black;
  padding-left: 20px;
}
