.login {
  display: flex;
  height: 450px;
  width: max-content;
}
.loginContent,
.signupContent {
  box-shadow: 0 0 10px 0 #ccc;
  display: grid;
  align-items: center;
  padding: 24px;
  background: #fff;
  width: 320px;
}

.signup {
  display: flex;
}
.signupContent {
  gap: 16px;
}

.login .iconWrapper,
.signup .iconWrapper {
  display: flex;
  color: #000;
  justify-content: center;
}
.login .iconWrapper,
.signup .iconWrapper {
  display: grid;
  justify-items: center;
}
.iconWrapper img {
  height: 50px;
  width: 50px;
}

.emailWrapper,
.passwordWrapper,
.displayNameWrapper {
  display: grid;
}

.emailWrapper input,
.passwordWrapper input,
.displayNameWrapper input {
  height: 32px;
  margin-top: 8px;
}

.noAccount,
.accountExists,
.forgotPasswordLink {
  font-size: 14px;
  justify-content: center;
  display: flex;
}

.noAccount span,
.accountExists span,
.forgotPasswordLink span {
  color: dodgerblue;
  cursor: pointer;
}

.login button,
.signup button {
  text-transform: capitalize;
}

.emailError,
.passwordError {
  color: firebrick;
  font-size: 13px;
}

.redBorderInput {
  border: 1px solid firebrick;
}

.invalidErrorMessage {
  color: firebrick;
}

.login img {
  width: 420px;
}

.iconWrapper img {
  width: 200px;
  margin-bottom: 24px;
}

.iconWrapper h2,
.iconWrapper h3 {
  margin: 0;
}

.signUpRightWrapper {
  display: grid;
  background-color: darkslateblue;
  color: #fff;
  padding: 20px 40px;
  width: 500px;
}

.signUpRightWrapper h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 30px;
}

.portalDescription {
  font-size: 24px;
  color: lightseagreen;
  font-weight: bold;
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
}

.portalDescription > img {
  height: 400px;
  width: 500px;
  margin-right: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 20px;
}

.signup {
  width: 100%;
}

.signupContent {
  width: 500px;
}
