.courseBarChartContainer {
  height: 500px;
  width: 730px;
  margin-top: 20px;
  background: rgb(236, 234, 234);
  padding: 20px 40px;
  box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
}

.courseBarChart text {
  stroke: white;
  font-weight: 100;
}

.courseBarChartContainer .recharts-legend-wrapper .recharts-legend-item-text {
  color: darkorange !important;
}

.courseBarChartContainer .recharts-legend-wrapper .recharts-surface path {
  fill: darkorange;
}
